tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
.font5
	{color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.font8
	{color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	text-align:center;
	vertical-align:middle;
	background:#D8D8D8;
	mso-pattern:black none;}
.xl66
	{mso-style-parent:style0;
	border:.5pt solid windowtext;}
.xl67
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border:.5pt solid windowtext;}
.xl68
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:left;
	border:.5pt solid windowtext;}
.xl69
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"Short Date";
	text-align:left;
	border:.5pt solid windowtext;}
.xl70
	{mso-style-parent:style0;
	text-align:left;
	border:.5pt solid windowtext;}
.xl71
	{mso-style-parent:style0;
	mso-number-format:"Short Date";
	text-align:left;
	border:.5pt solid windowtext;}
.xl72
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	border:.5pt solid windowtext;}
.xl73
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:left;
	border:.5pt solid windowtext;}
.xl74
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	background:#D8D8D8;
	mso-pattern:black none;}
.xl75
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	background:#D8D8D8;
	mso-pattern:black none;}
.xl76
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	background:#D8D8D8;
	mso-pattern:black none;}
.xl77
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"d\/m\/yy\;\@";
	background:#D8D8D8;
	mso-pattern:black none;}
.xl78
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.xl79
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	text-align:center;
	vertical-align:middle;}
.xl80
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:0;}
.xl81
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"Short Date";
	text-align:center;
	vertical-align:middle;}
.xl82
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"d\/m\/yy\;\@";}
.xl83
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"Short Date";}
.xl84
	{mso-style-parent:style0;
	color:windowtext;
	font-size:8.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	white-space:normal;}
.xl85
	{mso-style-parent:style0;
	color:windowtext;
	font-size:8.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.xl86
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;}
.xl87
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl88
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	background:white;
	mso-pattern:black none;}
.xl89
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"Short Date";
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl90
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	background:white;
	mso-pattern:black none;}
.xl91
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"d\/m\/yy\;\@";
	background:white;
	mso-pattern:black none;}
.xl92
	{mso-style-parent:style0;
	mso-number-format:0;
	border:.5pt solid windowtext;}
.xl93
	{mso-style-parent:style0;
	mso-number-format:"Short Date";
	border:.5pt solid windowtext;}
.xl94
	{mso-style-parent:style0;
	mso-number-format:0;}
.xl95
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	text-align:center;
	border:.5pt solid windowtext;}
.xl96
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	border:.5pt solid windowtext;}
.xl97
	{mso-style-parent:style0;
	text-align:center;
	border:.5pt solid windowtext;}
.xl98
	{mso-style-parent:style0;
	text-align:center;}
.xl99
	{mso-style-parent:style0;
	mso-number-format:0;
	text-align:center;
	border:.5pt solid windowtext;}
.xl100
	{mso-style-parent:style0;
	mso-number-format:"Short Date";
	text-align:center;
	border:.5pt solid windowtext;}
.xl101
	{mso-style-parent:style0;
	mso-number-format:0;
	text-align:center;}
.xl102
	{mso-style-parent:style0;
	mso-number-format:"Short Date";
	text-align:center;}
.xl103
	{mso-style-parent:style0;
	mso-number-format:0;
	text-align:center;
	border:.5pt solid windowtext;
	background:yellow;
	mso-pattern:black none;}
.xl104
	{mso-style-parent:style0;
	mso-number-format:"Short Date";
	text-align:center;
	border:.5pt solid windowtext;
	background:yellow;
	mso-pattern:black none;}
.xl105
	{mso-style-parent:style0;
	text-align:center;
	border:.5pt solid windowtext;
	background:yellow;
	mso-pattern:black none;}
.xl106
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	text-align:center;
	vertical-align:middle;
	background:yellow;
	mso-pattern:black none;}
.xl107
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	background:yellow;
	mso-pattern:black none;}
.xl108
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"Short Date";
	text-align:center;
	vertical-align:middle;
	background:yellow;
	mso-pattern:black none;}
.xl109
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	background:yellow;
	mso-pattern:black none;}
.xl110
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"d\/m\/yy\;\@";
	background:yellow;
	mso-pattern:black none;}
.xl111
	{mso-style-parent:style0;
	mso-number-format:0;
	text-align:left;
	vertical-align:middle;}
.xl112
	{mso-style-parent:style0;
	mso-number-format:"Short Date";
	text-align:left;
	vertical-align:middle;}
.xl113
	{mso-style-parent:style0;
	text-align:left;
	vertical-align:middle;}
.xl114
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	text-align:left;
	vertical-align:middle;}
.xl115
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;}
.xl116
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"Short Date";
	text-align:left;
	vertical-align:middle;}
.xl117
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:0;}
.xl118
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"Short Date";}
.xl119
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.xl120
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	text-align:left;
	vertical-align:middle;}
.xl121
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"Short Date";
	text-align:left;
	vertical-align:middle;}
.xl122
	{mso-style-parent:style0;
	font-weight:700;}
