
div.norelease {
    display: inline;
  color: #ccc;
  padding: 0; margin: 0;
}

.plist td {
    padding: 3px;
}

.pl2 {
    border: 1px;
    margin-bottom: 12px;
    margin-left: 12px;
}
.pl2 td {
    padding: 3px;
    margin: 0;
}
.pl2 th {
    padding: 3px;
    margin: 0;
    font-weight: bold;
}

div.author {
	padding-bottom: 6px;
	font-size: 14px;
}
